<div #parent class="header" (window:resize)="onResize()">
   
    <div class="title">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur vitae, incidunt dolorem aut ipsam iste
            eum reiciendis harum dicta maxime molestias vero dolor laudantium nemo! Ratione fugit repellendus dolores
            doloribus.</h1>
        <button>
            Find More
            <img src="../../assets/img/next.png">
        </button>
    </div>

    <canvas #pts></canvas>

</div>