:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d1a;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 18;

    margin-top: auto;

    .extern-links--last {
        display: flex;
        flex-direction: column;
        align-items: center;
        a img {
            width: 40px;
            height: 40px;
            object-fit: contain;
        }
        p {
            color: white;
            margin: 0;
        }
    }

    .extern-links--first {
        display: flex;
    }

    mat-progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width: 550px) {
    .footer {
        .extern-links--first {
            flex-direction: column;
            align-items: center;
        }
    }
}