<mat-progress-bar value="100" [mode]="progressBar.mode"></mat-progress-bar>
<div class="extern-links--first">
    <!-- <a routerLink="/imprint" class="page-link">Imprint</a>
    <a routerLink="/data-protection" class="page-link">Data Protection</a>
    <a routerLink="cookie-statement" class="page-link">Cookie Statement</a> -->
    <a routerLink="/" class="page-link">Start</a>
</div>

<div class="extern-links--last">
    <a href="https://www.facebook.com/mihaiandrei.neacsu" target="blank">
        <img src="../../assets/img/facebook.png">
    </a>
    <p> Mihai-Andrei Neacsu</p>
</div>