<section #projects>
    <div class="title">
        PROJECTS
        <div class="underline"></div>
    </div>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <img src="../../assets/img/projects/elpolloloco.jpg">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/img/projects/joinAddTask.jpg">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/img/projects/ringoffireingame.jpg">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/img/projects/tictactoe.jpg">
        </mat-grid-tile>
    </mat-grid-list>
</section>