section {
    z-index: 1;
    background-color: floralwhite;
    mat-grid-list {
        width: 100%;
        mat-grid-tile {
            //background: #00ff88;
            .tile-container {
                position: relative;
                &:hover {
                    img {
                        animation: blurIn 1s;
                        filter: blur(6px);
                    }
                    mat-card {
                        mat-card-title,
                        mat-card-subtitle {
                            animation: showCardText 1s ease-in-out;
                        }
                        button{
                            animation: showCardButton 1s ease-in-out;
                        }
                    }
                }
                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                    animation: blurOut 1s;
                }
                mat-card {
                    padding: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(255, 255, 255, 0.486);
                    //z-index: 2;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    mat-card-title {
                        font-size: 40px;
                        color: black;
                    }
                    mat-card-subtitle {
                        color: orangered;
                    }
                    button {
                        color: orangered !important;
                        border-color: orangered !important;
                        transition: all 225ms ease-in;
                        cursor: pointer;
                        &:hover {
                            color: white !important;
                            font-weight: 700;
                            border-color: #00ff88 !important;
                        }
                    }
                }
            }

            .tile-container.sn-viewport--in{
                animation: showAnim 225ms ease-in;
            }

            .tile-container.sn-viewport--out{
                opacity: 0;
            }
        }
    }
}


@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    mat-card-title{
        font-size: 20px !important;
    }

    button{
        font-size: 12px !important;
    }
  }
