<section #contact snInViewport (inViewportChange)="onInViewportChange($event, 'contact')" [inViewportOptions]="{
    rootMargin: '-50% 0px -49% 0px'
  }">
    <svg width='100%' height='100' viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0,0 50,100 100,0" fill="floralwhite"></polygon>
    </svg>
    <div class="title">
        <span snInViewport>CONTACT</span>
        <div class="underline" snInViewport></div>
    </div>
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" ngNativeValidate snInViewport>
        <input placeholder="Name" name="name" ngModel #name="ngModel">
        <input placeholder="Email" type="email" name="email" ngModel #email="ngModel" required>
        <textarea placeholder="Message" name="message" ngModel #message="ngModel" required></textarea>
        <br>
        <button>SUBMIT</button>
    </form>
</section>