nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    background-color: #2d2d1a;
    height: 50px;
    display: flex;
    align-items: center;
    .links-container {
        display: flex;
    }

    mat-progress-bar{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.bottom{
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    top: unset;
}

@keyframes onHover {
    from {
        color: white;
    }
    to {
        color: #00ff88;
    }
}