<div #home id="home" class="header" (window:resize)="onResize()" snInViewport
    (inViewportChange)="navigation.handleInViewPortChange($event, 'home')" [inViewportOptions]="{
    rootMargin: '-50% 0px 0px 0px'
  }">
    <div class="title">
        <h1>Hi, I'm <span>Mihai-Andrei</span>.<br> And I'm a fresh Front-End Web Developer.</h1>
        <a class="btn" href="#about">
            Find More
            <!-- <img src="../../assets/img/next.png"> -->
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
        </a>
    </div>
    <canvas #pts id="pts"></canvas>
</div>