.header {
    position: relative;
    z-index: 19;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        h1 {
            text-align: left;
            color: white;
            font-size: 2em;
            font-family: "Oxygen", sans-serif;
            span {
                color: #5fa07a;
            }
        }

        .btn {
            text-decoration: none;
            mat-icon {
                width: 20px;
                height: 20px;
                margin-left: 6px;
                animation: rotateArrowBack 225ms ease-in;
            }

            &:hover mat-icon {
                animation: rotateArrow 225ms ease-in;
                transform: rotate(90deg);
            }
        }
    }
}

@keyframes rotateArrow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

@keyframes rotateArrowBack {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .header .title {
        h1 {
            text-align: center;
            font-size: 1.5em;
        }

        button{
            font-size: 1em;
        }
    }
}

@media only screen and (max-width: 360px) {
    /* For mobile phones: */
    .header .title {
        h1 {
            font-size: 1em;
        }

        button{
            font-size: 0.8em;
            mat-icon{
                width: 15px;
                height: 15px;
                margin-left: 3px;
            }
        }
    }
}