<section #projects id="projects" snInViewport (inViewportChange)="navigation.handleInViewPortChange($event, 'projects')" [inViewportOptions]="{
    rootMargin: '-50% 0px -50% 0px'
  }">
    <div class="title">
        <span snInViewport [inViewportOptions]="{
            rootMargin: '10px 0px 0px 0px'
          }">PROJECTS</span>
        <div class="underline" snInViewport></div>
    </div>
    <mat-grid-list cols="{{colsSize}}" rowHeight="{{rowHeight}}" (window:resize)="onResize($event)">
        <mat-grid-tile *ngFor="let project of allProjects; let i = index">
            <div (mouseenter)="showCard(i)" (mouseleave)="hiddeCard(i)" class="tile-container" snInViewport>
                <img src="../../assets/img/projects/{{project.img}}">
                <mat-card class="hidde">
                    <mat-card-title>{{project.name}}</mat-card-title>
                    <mat-card-subtitle>{{project.type}}</mat-card-subtitle>
                    <button (click)="visitProject(project.url)">View Project</button>
                </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</section>