/* You can add global styles to this file, and also import other style files */
body { margin: 0; font-family: 'Oxygen', sans-serif; }
section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;

    .title {
        font-weight: 700;
        font-size: 40px;
        //text-decoration: underline;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: #45474A;
        .underline{
            margin-top: 10px;
            margin-bottom: 60px;
            height: 4px;
            width: 100px;
            background-color: #45474A;
        }
    }
}

@keyframes colorChange {
    from {
        background-color: rgba($color: #00ff88, $alpha: 0);
    }
    to {
        background-color: rgba($color: #00ff88, $alpha: 1);
    }
}

@keyframes colorChangeBack {
    from {
        background-color: rgba($color: #00ff88, $alpha: 1);
    }
    to {
        background-color: rgba($color: #00ff88, $alpha: 0);
    }
}