/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: "Oxygen", sans-serif;
}
section {
    //position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

    .title {
        font-weight: 700;
        font-size: 40px;
        //text-decoration: underline;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: #45474a;

        span.sn-viewport--in {
            //animation-delay: 1s !important;
            animation: showCardText 225ms ease-in;
        }

        span.sn-viewport--out {
            opacity: 0;
        }

        .underline {
            margin-top: 10px;
            margin-bottom: 60px;
            height: 4px;
            width: 0px;
            background-color: #45474a;
            transition-delay: 1s !important;
            transition: width 225ms ease-in;
        }

        .underline.sn-viewport--in {
            width: 100px;
        }
    }
}

button {
    border-style: solid;
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    animation: colorChangeBack 225ms ease-in;
    background-color: rgba($color: #00ff88, $alpha: 0);
    font-size: 1.2em;
    color: white;
    border-color: white;
    padding: 16px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;

    &:hover {
        animation: colorChange 225ms ease-in;
        background-color: rgba($color: #00ff88, $alpha: 1);
        border-color: #00ff88;
    }
}

.hidde {
    display: none !important;
}

@keyframes colorChange {
    from {
        background-color: rgba($color: #00ff88, $alpha: 0);
    }
    to {
        background-color: rgba($color: #00ff88, $alpha: 1);
    }
}

@keyframes colorChangeBack {
    from {
        background-color: rgba($color: #00ff88, $alpha: 1);
    }
    to {
        background-color: rgba($color: #00ff88, $alpha: 0);
    }
}

@keyframes showCardText {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes showCardButton {
    from {
        transform: translateY(100px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes blurIn {
    from {
        filter: blur(0px);
    }
    to {
        filter: blur(6px);
    }
}

@keyframes blurOut {
    from {
        filter: blur(6px);
    }
    to {
        filter: blur(0px);
    }
}

@keyframes showAnim {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    section {
        padding: 16px;
        padding-top: 60px !important;
        .title {
            font-size: 24px;
            .underline.sn-viewport--in {
                width: 50px;
            }
        }
    }
}

//   @media only screen and (max-width: 300px) {
//     /* For mobile phones: */
//    section{
//        overflow: scroll;
//    }
//   }
