<section #about id="about" snInViewport (inViewportChange)="navigation.handleInViewPortChange($event, 'about')" [inViewportOptions]="{
    rootMargin: '-50% 0px -50% 0px'
  }">
    <div class="title">
        <span snInViewport [inViewportOptions]="{
            rootMargin: '10px 0px 0px 0px'
          }">ABOUT</span>
        <div class="underline" snInViewport></div>
    </div>
    <div class="img-mask">
        <svg width="0" height="0">
            <defs>
                <clipPath id="hexagonImg300px">
                    <!-- for width = 300px and height = 300 / 2 * 1.7321 (square root of 3)-->
                    <polygon points="0,129.9 75,259.81 225,259.81 300,129.9 225,0 75,0"></polygon>
                </clipPath>
            </defs>
        </svg>
        <svg width="0" height="0">
            <defs>
                <clipPath id="hexagonImg200px">
                    <!-- for width = 300px and height = 300 / 2 * 1.7321 (square root of 3)-->
                    <polygon points="0,86.605 50,173.21 150,173.21 200,86.605 150,0 50,0"></polygon>
                </clipPath>
            </defs>
        </svg>
        <img src="../../assets/img/me.jpg" snInViewport>
    </div>
    <div *ngFor="let paragraph of paragraphs" class="text-mask" snInViewport>
        <svg width="0" height="0" viewBox="0 0 1 1">
            <clipPath id="hexagonText" clipPathUnits="objectBoundingBox">
                <polygon points="0 0.5, 0.05 1, 0.95 1, 1 0.5, 0.95 0, 0.05 0"></polygon>
            </clipPath>
        </svg>
    </div>
</section>